<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/pico.css" rel="stylesheet">
        <script src="/static/js/htmx.min.js"></script>
    </head>
    <body data-hx-boost="true">
        <nav data-ms-block="main::top-navbar"></nav>
        <main class="container">
            <section>
                <h3>Content</h3>
                <ul class="grid">
                    <li><a href="/admin/content/creative-works">Creative Works</a></li>
                    <li><a href="/admin/content/events">Events</a></li>
                    <li><a href="/admin/content/organizations">Organizations</a></li>
                    <li><a href="/admin/content/people">People</a></li>
                    <li><a href="/admin/content/places">Places</a></li>
                    <li><a href="/admin/content/others">Others</a></li>
                </ul>
            </section>
        </main>
    </body>
</html>