<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="/static/css/pico.css" rel="stylesheet">
        <script src="/static/js/htmx.min.js"></script>
    </head>
    <body data-hx-boost="true">
        <nav data-ms-block="main::top-navbar"></nav>
        <main class="container">
            <section style="text-align:center;">
                <h1>Search</h1>
                <form action="" method="post">
                    <input type="text" name="search" placeholder="Search content" required>
                </form>
            </section>
            <section>
                <h3>Apps</h3>
                <nav>
                    {% for app in apps %}
                    <a href="/{{ app.tag }}">{{ app.name }}</a>
                    {% endfor %}
                </nav>
            </section>
        </main>
    </body>
</html>